body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: rgb(13, 40, 92);
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-item {
  flex: 50%;
  /* padding: 5.5rem 0; */
}

/* Left Section */
.img-section {
  text-align: center;
  background: rgb(13, 40, 92);
  margin-top: 3rem;
}

.main-img {
  width: 55%;
  border-radius: 2rem;
  box-shadow: 5px 10px 18px #888888;
  min-width: 200px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.animate-top {
  position: relative;
  animation: animatetop 1.4s;
}

@keyframes animatetop {
  from {
    /* top: -300px; */
    top: 600px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Name */
.main-name {
  font-size: 3rem;
  color: #ddd;
  text-align: center;
}

.main-title {
  font-size: 1rem;
  color: #ddd;
  text-align: center;
}
/* End Name */

/* Social Media */
  .social-media {
  margin-top: 8rem;
}

.icon {
  font-size: 15px;
  padding: 0.5rem;
  margin: 10px;
  border-radius: 30%;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
  text-decoration: none;
}

.fa-instagram {
  background: linear-gradient(to right, #fcaf45, #e1306c, #5851db);
  color: white;
  text-decoration: none;
}

.fa-envelope {
  background: #125688;
  color: white;
  text-decoration: none;
}
/* Social Media End */
/* Left Side End */

/* Right Side */

.plants {
  background-image: url(/images/leaf.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.travels {
  background-image: url(/images/travel.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lifestyle {
  background-image: url(/images/hat.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 33%;
  margin: 3rem 3rem;
  align-items: center;
  background: rgb(13, 40, 92);
}

.button-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn {
  padding: 4rem 6rem;
  margin: 0 2rem 4rem 2rem;
  border-radius: 2rem;
  box-shadow: 5px 10px 18px #888888;
  font-size: 3rem;
  text-align: center;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  cursor: pointer;
  /* background-color: rgb(45, 51, 51); */
  color: #ddd;
  transition: 0.3s;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: #fafafa;
  opacity: 0.7;
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}

@media screen and (max-width: 700px) {
  .btn {
    padding: 1.5rem 0.25rem;
    border-radius: 1.75rem;
    margin: 0.5rem 0.5rem;
    font-size: 1.5rem;
  }
  .flex-container {
    padding-right: 0.5rem;
  }
  .button-section {
    padding: 0;
  }
}

/* Footer */
footer {
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  color: rgb(23, 53, 107);
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: rgb(23, 53, 107);
}
/* Footer End */

/* Coming Soon */
.coming-soon {
  padding: 8rem 0;
  background-image: url(/images/axolotl.png);
  background-repeat: no-repeat;
  background-position: center;
}
.coming-soon-plant {
  padding: 8rem 0;
  background-image: url(/images/ivy.png);
  /* background-repeat: ; */
  background-position: center;
}
.coming-soon-travel {
  padding: 8rem 0;
  background-image: url(/images/dotted-plane.png);
  background-repeat: no-repeat;
  background-position: center;
}
.soon-text {
  text-align: center;
  color: #ddd;
  font-family: "Roboto", sans-serif;
  font-size: 8rem;
}

@media screen and (max-width: 700px) {
  .soon-text {
    font-size: 4rem;
  }
}

.back-btn {
  text-align: center;
}
.previous {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 50%;
  transition: 0.3s;
}

.previous:hover {
  background-color: rgb(90, 90, 90);
  color: black;
}
/* End Coming Soon */
