body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  /* text-align: center; */
  background: rgb(55, 58, 58);
}

.cursive-font {
  font-family: "Lobster", cursive;
  color: rgb(244, 237, 51);
}
/* START NAV */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.nav-text {
  padding: 20px;
  color: #ddd;
  font-weight: 100;
  font-size: 30px;
  cursor: pointer;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* END NAV */

/* START HEADER  */
#header-section {
  padding: 1rem 0 20rem 0;
  background-image: url(/images/selection.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-header {
}

.header-text {
  font-size: 13rem;
  margin-top: 4rem;
  font-weight: 100;
  font-family: "Lobster", cursive;
  color: rgb(244, 237, 51);
  text-align: center;
}
.animate-top {
  position: relative;
  animation: animatetop 1.4s;
}

@keyframes animatetop {
  from {
    /* top: -300px; */
    top: 600px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@media screen and (max-width: 1100px) {
  .header-text {
    font-size: 8rem;
    margin-top: 10rem;
  }
}
@media screen and (max-width: 800px) {
  #header-section {
    padding: 1rem 0 10rem 0;
  }
  .header-text {
    font-size: 5rem;
    margin-top: 10rem;
  }
}
/* END HEADER */
/* About section START */
#about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 11rem 0; */
  background-color: rgba(13, 41, 92, 0.603);
}

.about-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.about-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

.about-column-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 50%;
  padding: 10px 50px 0 0;
}

.about-text {
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  max-width: 70%;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-size: 1.75rem;
  line-height: 2.2rem;
  color: #ebebeb;
}
.big-about-text {
  font-family: "Lobster", cursive;
  font-weight: 700;
  font-size: 2.75rem;
  color: rgb(244, 237, 51);
}

.about-img {
  width: 100%;
  max-width: 500px;
  border-radius: 2rem;
  height: auto;
}
/* Social Media */
  .social-media {
  margin-top: 8rem;
}

.icon {
  font-size: 15px;
  padding: 0.5rem;
  margin: 10px;
  border-radius: 30%;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  padding: 10px 11.5px;
  background: #3b5998;
  color: white;
  text-decoration: none;
}

.fa-instagram {
  background: linear-gradient(to right, #fcaf45, #e1306c, #5851db);
  color: white;
  text-decoration: none;
}

.fa-envelope {
  background: #125688;
  color: white;
  text-decoration: none;
}
/* Social Media End */

@media (max-width: 700px) {
  #about-section {
    padding: 3rem 0;
  }
  .about-column-text {
    padding: 0;
  }
  .about-row {
    flex-direction: column;
    padding: 5rem 2.5rem;
    justify-content: center;
  }

  .about-column {
    margin: 0;
    padding: 0;
  }

  .about-text {
    font-size: 1.3rem;
    line-height: 2rem;
  }
}

/* end of about */

/* SLIDESHOW START */

.slideshow-section {
  padding: 5rem 0;
  background-color: rgba(13, 41, 92, 0.603);
  text-align: center;
}
.skill-image {
  width: 40%;
  padding: 5rem;
  border-radius: 20%;
  /* margin: 20px; */
  margin-bottom: 20px;
}

.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

@media screen and (max-width: 700px) {
  #reviews {
    padding: 1.5rem 0;
    margin: 5rem 2rem;
  }
  .skill-image {
    width: 60%;
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ebebeb;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #c0c0c0;
}

/* Caption text */
.text {
  color: #ebebeb;
  font-size: 1.5rem;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ebebeb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* dots/Circles */
.circles {
  text-align: center;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* SLIDESHOW END */

/* START INTEREST */
#interest-section {
  padding: 10rem 0;
  background-image: url(/images/tallBlueAgave.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#interest-section-two {
  padding: 13rem 0;
  background-image: url(/images/second-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-heading {
  font-size: 3.5rem;
  color: #ebebeb;
}

.project-text {
  font-size: 2rem;
  color: #ebebeb;
  padding-bottom: 2.5rem;
}

.project-skill {
  margin-bottom: 30px;
  font-family: "Roboto Slab", serif;
}

.project-container {
  position: relative;
}

.project-image {
  display: flex;
  align-items: center;
  width: 100%;
  /* width: 100px; */

  object-fit: cover;
  /* height: 100%; */
  /* margin: 0 auto; */
}

.project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #2d3a3be0;
}

.project-container:hover .project-overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  position: relative;
  padding: 0 1rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

@media screen and (max-width: 700px) {
  .project-text {
    padding: 0 10px 20px 10px;
  }
}
/* Float four columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 10px 20px;
}

.project-row {
  /* margin: 0 -5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.project-img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* Clear floats after the columns */
.project-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 700px) {
  .column {
    width: 55%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(13, 41, 92, 0.603);
}
.card-text {
  /* color: #f1f1f1; */
  font-weight: 300;
  font-size: 3rem;
  /* margin: 0; */
}
.offer-text {
  color: #ddd;
}

@media (max-width: 700px) {
  .project-row {
    flex-direction: column;
  }
}
/* project buttons */
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-btn {
  padding: 14px 28px;
  font-size: 16px;
  margin: 4px;
  border-radius: 3rem;
  border: 2px solid #ebebeb;
  cursor: pointer;
  text-decoration: none;
  color: #ebebeb;
  background-color: rgb(13, 40, 92);
  transition: 0.5s;
}

.project-btn:hover {
  /* border-color: #004ba079; */
  border-color: #c1c2c4;
  background-color: rgb(0, 194, 184);
}

@media screen and (max-width: 1000px) {
  .btn-container {
    flex-direction: column;
  }
  .card-text {
    font-size: 2.25rem;
  }
}
@media screen and (max-width: 700px) {
  #interest-section {
    padding: 8rem 0;
  }
  #interest-section-two {
    padding: 12rem 0;
  }
  .btn-container {
    flex-direction: row;
  }
  .card-text {
    font-size: 1.75rem;
  }
}
/* END INTEREST */
/* Footer Start */
footer {
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  background-color: rgba(13, 41, 92, 0.603);
  color: #ddd;
  padding: 2rem 0 0 0;
}

footer a {
  text-decoration: none;
  color: #ddd;
}

.footer-nav-section {
  margin-bottom: 2rem;
}
.footer-nav-text {
  cursor: pointer;
  padding: 0 0.75rem;
}
.footer-nav-text:hover {
  color: rgb(14, 14, 14);
  background-color: rgb(244, 237, 51);
  padding: 0.55rem;
  border-radius: 2rem;
}
/* Footer End */

/* Coming Soon */
.coming-soon {
  padding: 8rem 0;
  background-image: url(/images/axolotl.png);
  background-repeat: no-repeat;
  background-position: center;
}
.coming-soon-plant {
  padding: 8rem 0;
  background-image: url(/images/ivy.png);
  /* background-repeat: ; */
  background-position: center;
}
.coming-soon-travel {
  padding: 8rem 0;
  background-image: url(/images/dotted-plane.png);
  background-repeat: no-repeat;
  background-position: center;
}
.soon-text {
  text-align: center;
  color: #ddd;
  font-family: "Roboto", sans-serif;
  font-size: 8rem;
}

@media screen and (max-width: 700px) {
  .soon-text {
    font-size: 4rem;
  }
}

.back-btn {
  text-align: center;
}
.previous {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  padding: 12px 18px;
  border-radius: 50%;
  transition: 0.3s;
}

.previous:hover {
  background-color: rgb(90, 90, 90);
  color: black;
}
/* End Coming Soon */
