body {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: rgb(55, 58, 58);
}
.cursive-font {
  font-family: "Lobster", cursive;
  color: rgb(244, 237, 51);
}
/* START NAV */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.nav-text {
  padding: 20px;
  color: #ddd;
  font-weight: 100;
  font-size: 30px;
  cursor: pointer;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* END NAV */

/* START HEADER  */
#header-section {
  padding: 1rem 0 10rem 0;
  background-image: url(/images/selection.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-header {
}

.header-text {
  font-size: 13rem;
  margin-top: 4rem;
  font-weight: 100;
  font-family: "Lobster", cursive;
  color: rgb(244, 237, 51);
  text-align: center;
}
.animate-top {
  position: relative;
  animation: animatetop 2.4s;
}

@keyframes animatetop {
  from {
    /* top: -300px; */
    top: 600px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@media screen and (max-width: 1100px) {
  .header-text {
    font-size: 8rem;
    margin-top: 10rem;
  }
}
@media screen and (max-width: 800px) {
  #header-section {
    padding: 1rem 0 10rem 0;
  }
  .header-text {
    font-size: 5rem;
    margin-top: 10rem;
  }
}
/* END HEADER */
/* About section START */
#about-section {
  /* padding: 11rem 0; */
  background-color: rgba(6, 33, 82, 0.603);
}

.about-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.about-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

.about-column-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 50%;
  padding: 10px 50px 0 0;
}

.about-text {
  font-family: "Exo 2", sans-serif;
  font-weight: 300;
  max-width: 70%;
  text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  font-size: 1.75rem;
  line-height: 2.2rem;
  color: #ebebeb;
}
.big-about-text {
  font-weight: 700;
  font-size: 2.75rem;
}

.about-img {
  width: 100%;
  max-width: 500px;
  border-radius: 2rem;
  height: auto;
}
/* Social Media */
  .social-media {
  margin-top: 8rem;
}

.icon {
  font-size: 15px;
  padding: 0.5rem;
  margin: 10px;
  border-radius: 30%;
  cursor: pointer;
  transition: 0.3s;
}

.icon:hover {
  opacity: 0.7;
}

.fa-facebook-f {
  background: #3b5998;
  color: white;
  text-decoration: none;
}

.fa-instagram {
  background: linear-gradient(to right, #fcaf45, #e1306c, #5851db);
  color: white;
  text-decoration: none;
}

.fa-envelope {
  background: #125688;
  color: white;
  text-decoration: none;
}
/* Social Media End */

@media (max-width: 700px) {
  #about-section {
    padding: 3rem 0;
  }
  .about-column-text {
    padding: 0;
  }
  .about-row {
    flex-direction: column;
    padding: 5rem 2.5rem;
    justify-content: center;
  }

  .about-column {
    margin: 0;
    padding: 0;
  }

  .about-text {
    font-size: 1.3rem;
    line-height: 2rem;
    max-width: 100%;
  }
}

/* end of about */

/* Footer Start */
footer {
  text-decoration: none;
  text-align: center;
  font-size: 0.75rem;
  background-color: rgba(13, 41, 92, 0.603);
  color: #ddd;
  padding: 2rem 0 0 0;
}

footer a {
  text-decoration: none;
  color: #ddd;
}

.footer-nav-section {
  margin-bottom: 2rem;
}
.footer-nav-text {
  cursor: pointer;
  padding: 0 0.75rem;
}
.footer-nav-text:hover {
  color: rgb(14, 14, 14);
  background-color: rgb(244, 237, 51);
  padding: 0.55rem;
  border-radius: 2rem;
}
/* Footer End */
