/* CONTACT F3 */
body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  background: rgb(13, 40, 92);
  background-image: url(/images/axolotl.png);
  background-repeat: no-repeat;
  background-position: center;
}

/* START NAV */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.nav-text {
  color: #ddd;
  font-weight: 100;
  font-size: 30px;
  cursor: pointer;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* END NAV */
/* Form Start */
.container {
  padding: 1.75rem 0 25rem 0;
}
.contact-section {
  background-color: rgba(206, 205, 199, 0.356);
  border-radius: 2rem;
  margin: 3rem 19rem 0 19rem;
}

.contact-title {
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

.contact-title h1 {
  font-size: 32px;
  /* line-height: 10px; */
}

.contact-title h2 {
  font-size: 16px;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .contact-section {
    margin: 3rem 11rem 0 11rem;
  }
  .form-control {
    width: 450px;
  }
}

@media screen and (max-width: 800px) {
  .contact-section {
    margin: 0;
  }
  .form-control {
    width: 400px;
  }
}

input {
  height: 45px;
}

form .submit {
  background: #ff5722;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: #0225be79;
  cursor: pointer;
  border-radius: 1rem;
}
/* FORM END */
